<h1>Amazon App</h1>
<div class="container" style="padding:20px 0">
<div class="form-group">
  <label>ASIN</label>
  <p class="form-control-static"><%= @book.asin %><p>
</div>
<div class="form-group">
  <label>タイトル</label>
  <p class="form-control-static"><%= @book.title %><p>
</div>

<h3>関連書籍</h3>
<table class="table">
  <thead>
    <tr>
      <td>ASIN</td>
      <td>タイトル</td>
    </tr>
  </thead>
  <tbody>
  <% @links.each do |link| %>
    <tr>
      <td><%= link.to_asin %></td>
      <td><%= link.to_title %></td>
    </tr>
  <% end %>
  </tbody>

